$main-color: #545454;
$grey-text: #4c4c4c;
$black: #292929;
$beige: #f1cdb3;
$white: #fff;

$main-font: 'Georgia', sans-serif, Arial;
$main-fz: 15px;
$main-lh: 1.6;
$main-fw: 400;

$second-font: Arial, sans-serif;

$title-fz: 35px;
$title-lh: 1.29;