.donation {
    background-color: #f6f6f6;
    padding: 63px 0 79px;

    &__wrap {
        display: flex;
        align-items: center;
        @include b(mobile) {
            display: block;
        }
    }

    &__img {
        width: 43%;
        @include b(mobile) {
            width: 100%;
            max-width: 400px;
            margin: 0 auto 30px;
            padding-right: 0;
        }

        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__info {
        width: 57%;
        max-width: 440px;
        padding-left: 81px;
        @include b(mobile) {
            width: 100%;
            max-width: 100%;
            text-align: center;
            padding-left: 0;
        }
    }

    &__caption {
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 10px;
        font-size: 15px;
        letter-spacing: 1px;
    }

    &__card {
        margin-bottom: 28px;
        display: flex;
        @include b(mobile) {
            justify-content: center;
        }

        &-link {
            display: flex;
            align-items: center;
            padding: 8px 14px;
            color: $black;
            font-size: 20px;
            background-color: $beige;
            border-radius: 10px;
            font-family: $second-font;
            @include trs;
            @include b(375) {
                font-size: 17px;
            }

            &:hover {
                color: $beige;
                background-color: $black;

                svg {
                    fill: $beige;
                }
            }

            svg {
                width: 30px;
                height: 30px;
                @include trs;
            }

            span {
                padding-left: 15px;
            }
        }
    }

    &__descr {
        font-family: $second-font;
        font-style: italic;
        font-size: 12px;
        color: #b2b2b2;
        line-height: 1.5;
        letter-spacing: .2px;
    }
}