@@include("../blocks/modules/head/head.html", {
    "title": "Cozy House"
})

<div class="wrapper">
    @@include("../blocks/modules/heading/heading.html")
    @@include("../blocks/modules/about/about.html")
    @@include("../blocks/modules/our-friends/our-friends.html")
    @@include("../blocks/modules/info/info.html")
    @@include("../blocks/modules/donation/donation.html")
    @@include("../blocks/modules/footer/footer.html")
</div>

@@include("../blocks/modules/modal/modal.html")

@@include("../blocks/modules/foot/foot.html")