.modal {
    background-color: #fafafa;
    position: fixed;
    z-index: 99;
    right: 0;
    bottom: 0;
    overflow: auto;
    height: 100vh;
    width: 100%;
    top: -100%;
    @include trs;

    &.active {
        top: 0;

        .modal {

            &__img {
                transform: scale(1);
            }

            &__name {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }

    &__outer {
        min-height: 100vh;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__wrap {
        max-width: 1028px;
        padding: 58px 58px 0 0;
        position: relative;
        margin-bottom: 15px;
        @include b(tablet) {
            padding: 0;
        }
    }

    &__close-btn {
        width: 50px;
        height: 50px;
        border: 2px solid $beige;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        @include trs;
        @include b(tablet) {
            top: 10px;
            right: 10px;
        }

        &:before,
        &:after {
            content: '';
            width: 18px;
            height: 2px;
            top: 22px;
            right: 14px;
            background-color: $black;
            position: absolute;
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }

        &:hover {
            background-color: $beige;
        }
    }

    &__content {
        box-shadow: 0 2px 30px 5px rgba(13, 13, 13, .04);
        background-color: #fafafa;
        border-radius: 9px;
        display: flex;
        align-items: center;
        @include b(mobile) {
            display: block;
        }
    }

    &__img {
        width: 51.3%;
        transform: scale(0);
        transition: all 2s;
        @include b(mobile) {
            width: 100%;
            margin-bottom: 30px;
        }
        

        img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }

    &__info {
        width: 48.7%;
        padding-left: 30px;
        @include b(mobile) {
            width: 100%;
            padding-left: 0;
        }
    }

    &__name {
        display: block;
        transform: translateY(50px);
        opacity: 0;
        transition: all 1s;
    }

    &__type {
        display: block;
        font-size: 20px;
        margin-bottom: 20px;
        letter-spacing: 1.2px;
        
    }

    &__descr {
        font-family: $second-font;
        line-height: 1.6;
        font-size: 15px;
        margin-bottom: 14px;
        letter-spacing: -0.2px;
        max-width: 90%;
        @include b(mobile) {
            max-width: 100%;
        }
    }

    &__item {
        padding-left: 12px;
        font-size: 17px;
        position: relative;
        line-height: 1.85;
        letter-spacing: 1px;

        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 14px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $beige;
        }

        span {
            font-size: 15px;
            font-family: $second-font;
        }
    }
}