.info {
    background-color: #fafafa;
    padding: 60px 0 51px;

    &__outer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 350px;
        align-items: center;
        @include b(mobile) {
            justify-content: space-around;
        }
    }

    &__item {
        font-size: 20px;
        text-align: center;
        width: 20%;
        @include b(mobile) {
            width: auto;
        }

        img {
            width: 60px;
            height: 60px;
            margin-bottom: 12px;
        }
    }

    &__text {
        letter-spacing: 1.4px;
    }

    &__caption {
        margin: 0 auto;
        text-align: center;
        max-width: 320px;
        margin-bottom: 40px;
    }
}