html {
    height: 100%;
}

body {
    margin: 0;
    color: $main-color;
    font-family: $main-font;
    font-size: $main-fz;
    font-weight: $main-fw;
    line-height: $main-lh;
    min-width: 320px;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

h1, h2, h3, h4, h5, h6, ul, ol, p {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    @include trs;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    overflow: hidden;
}

.caption {
    display: block;
    font-size: 35px;
    line-height: 1.3;
    letter-spacing: 2px;
    @include b(mobile) {
        font-size: 26px;
    }
}